extends layout 


block content
    h1 Create an Account
    form(id='userForm' action='/createAccount' method='POST' )
        p Username: 
            input(type="text" name="username" id="username")
        p Password: 
            input(type="text" name='password' id='password')
        p Email: 
            input(type="text" name='email' id='email')
        p Age: 
            input(type="text" name='age' id='age')
        h2 Please Answer all 3 questions
            h3 What is your favorite animals
                input(type="text" id="questionOne")
            h3 What is your favorite color
                input(type="text" id="questionTwo")    
            h3 What is your favorite food 
                input(type="text" id="questionOne")
        p 
            input(type="submit" value='Create Account')