extends layout 
//-dont know if this stuff works
block content
    p Home page 
    link(rel='stylesheet' href='style.css')
    .chart
    canvas#animalChart
    canvas#colorChart
    canvas#foodChart
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='scriptsAnimal.js')
    script(src='scriptsColor.js')
    script(src='scriptsFood.js')
