extends layout 
//-dont know if this stuff works
block content
    head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='style.css')
    .chart
    canvas#myChart
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='script.js')
