extends layout 

<<<<<<< Updated upstream
block content 
    p Please login for a cookie :]
    p Username: 
        input(type="text" name="username")
    p Password:
        input(type="text" name='password')
<<<<<<< Updated upstream

a(href="/createAccount") Create an account here. 
=======
    a(href="/createAccount") Create an account here.
>>>>>>> Stashed changes
=======
block content
    p Please login for a cookie :]
    p Username 
        input(type="text" name="username")
    p Password 
        input(type="text" name="username")

    a(href="/createAccount") Create an account here.
>>>>>>> Stashed changes
