extends layout 

block content
        p Please login for a cookie :]
        p Username: 
                input(type="text" name="username")
        p Password: 
                input(type="text" name='password')
        p 
            input(type="submit" value='Login')
