extends layout 

block content
 form(id='form' method='POST' action='/login')  
        p Please login for a cookie :]
        p Username: 
                input(type="text" name="username")
        p Password: 
                input(type="text" name='password')
        p 
            input(type="submit" value='Login')