extends layout 

block content
        p Please login for a cookie :]
        p Username: 
                input(type="text" name="username")
        p Password: 
                input(type="text" name='password')
        a(href="/createAccount") Create an account here. 

